
html, body, {
	position: fixed;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	min-height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Helvetica, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.container {

    margin-left:auto;
    margin-right:auto;
    width:960px;

}

.section {
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#startUpCard {
	background: url("../images/pattern.png");
	height: 100%
	position: relative;
	width: 100%;

}

#prof-pic {  		/*the hashtag is for id's*/
	width:250px;
	height:300px;
	border-radius: 25px;
	padding: 10px;
	float: right;

}

.logo-img { 		/*the period is for class groups*/
	width: 50px;
	height: 40px;
}

h1 {				/*affects all main headers*/
	padding-top: 350px;
	padding-left: 400px;
	text-align: center;
	font-size: 300px;
	margin: 0px;
	position: absolute;
   color: #F9181E;
text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

}

.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}



body {
	margin: 0px;
}
 

.button {
	font-size: 1em;
	padding: 5px;
	color: #06D85F;
	border: 2px solid #06D85F;
	border-radius: 20px/50px;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
}

.button:hover {
	background: #06D85F;
	color: #fff;
}

.overlay {
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 20%;
	position: relative;
	-webkit-transition: all 5s ease-in-out;

}

.popup .close {
	position: absolute;
	top: 13px;
	right: 10px;
	bottom: 10px;
	-webkit-transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #06D85F;
}

.popup .close:hover {
	color: #333;
	-webkit-transition: all 0.5s ease-in-out;
}

.popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px){
	.popup {
		width: 70%;
	}
}


}
#interests p  {			/*only makes PARAGRAPH text within the INTERESTS ID bold*/
	font-weight: bold;
}

#footer {
	text-align: center;
	margin-top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	height: 20 px;
	padding: 1rem;

}

.column {
	text-align: left;
	margin-top: 20px; /*can't center text within our div, because container div is split into several divs. margin: 0 auto;
					automatically sets margin to the sides to push the div to the center*/

	background-color:rgba(0,255,0,0.2)

}

.emphasis {
	font-size: 150%;
	color: white;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.filler-crap {
	float: left;
/*	top:80px; 
	left:90px */

	margin-left: auto;
	margin-right: auto;
	width: 300px; 
	height: 300px;

.cover {
/*	object-fit: cover;*/
    image-orientation: from-image;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*.overflow {
	height:200px;
	width: 100px;
	overflow: hidden;
}*/
